{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "National Working Group" %} — {{ block.super }} {% endblock %}

{% block body %}
   {% blocktrans %}
   
  <h4>Contact Us</h4>

 
<div class="span8">
<p>		
		Prime Minister's Office 2nd Floor <br>
		Sector G-5-1, Constitution Avenue<br> Islamabad <br>
		Post Code 44000<br>
		e-mail: info@ndma.gov.pk<br>
		
		UAN#: 051-111-157-157<br>
		Tel#: +92 51 9205037<br>
		Fax#: +92 51 9205086 <br>
		 </p>
		</div> 
 		<div class="span4">
 		
 		</div>
  
{% endblocktrans %}
{% endblock %}

