{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "National Working Group" %} — {{ block.super }} {% endblock %}

{% block body %}
   {% blocktrans %}
   
  <h4>National Working Group</h4>

  <p>
National Working Group on Vulnerability and Risk Assessment is constituted by NDMA
 to provide strategic guidance and to coordinate all activities related to vulnerability 
 and risk assessment in the country.  
  </p>

  <p>
  The purpose of the National Working Group is to ensure the consistency 
  in methodologies employed for disaster risk assessments, uniformity in data 
  format during collection process, and coordinating risk assessments efforts to 
  ensure no gaps exist and to avoid overlapping of efforts. Another purpose of the 
  National Working Group is to provide guidance for development of National 
  Platform for Data Sharing for 
  Disaster Risk Management by the NDMA, with the World Banks support. 
   </p>
   <p>
   A formal notification was issued by NDMA for the incorporation of National Working Group on Vulnerability & Risk Assessment on September 28, 2012. The group includes 22 members from various government and non-government agencies/organizations, under the chairmanship of Chairman NDMA. The National Working Group has already met twice, and has constituted four  subject-specific Technical Sub-groups to lead and coordinate the efforts for earthquake hazard, flood hazard, exposure, and vulnerability & risk communication. 
The World Bank is providing technical advisory support to the National Working Group. 

   </p>
 <ol id="numlist"> 
<li><a href="/people/profile/CHNDMA/">Chairman</a>- <a href="http://www.ndma.gov.pk/" target="_blank">NDMA</a>, Islamabad</li>
<li><a href="/people/profile/DRRNDMA/">Member DRR</a>- <a href="http://www.ndma.gov.pk/" target="_blank">NDMA</a>, Islamabad</li>
<li><a href="/people/profile/DRMSWB/">Senior Disaster Risk Management Specialist </a> - <a href="http://www.worldbank.org/en/country/pakistan?/" target="_blank"> World Bank Bank Pakistan</a></li>
<li><a href="/people/profile/FDMA/">--Director General</a>- <a href="http://www.fdma.gov.pk/" target="_blank">FATA Disaster Management Authority</a></li>
<li><a href="/people/profile/SDMA/">--Director General </a> - <a href="http://sdma.ajk.gov.pk/" target="_blank">State Disaster Management Authority</a></li>
<li><a href="/people/profile/GBDMA/">--Director General</a>- <a href=" http://gilgitbaltistan.gov.pk/" target="_blank">Gilgit Baltistan  Disaster Management Authority</a></li>
<li><a href="/people/profile/PDMABN/">--Director General </a> - <a href="http://www.pdma.gob.pk/" target="_blank">PDMA Balochistan</a></li>
<li><a href="/people/profile/PDMAKP/">--Director General </a> - <a href="http://www.pdma.gov.pk/" target="_blank">PDMA Khyber Pakhtunkhwa</a></li>
<li><a href="/people/profile/PDMAPB/">--Director General </a> - <a href="http://www.pdma.gop.pk/" target="_blank">PDMA Punjab</a></li>
<li><a href="/people/profile/PDMASD/">--Director General </a> - <a href="http://www.pdma.gos.pk/" target="_blank">PDMA Sindh</a></li>
<li><a href="/people/profile/SUPARCO/">Member SAR</a> - <a href="http://www.suparco.gov.pk/" target="_blank">SUPARCO</a>, Islamabad</li>    
<li><a href="/people/profile/DGPMD/"> Director General</a>-  <a href="https://www.pmd.gov.pk/" target="_blank">Pakistan Meteorological Department</a>, Islamabad</li>
<li><a href="/people/profile/SOP/">Deputy Surveyor General</a>- <a href="http://surveyofpakistan.gov.pk/" target="_blank">Survey of Pakistan</a>, Islamabad</li>
<li><a href="/people/profile/GSP/">Director General </a> - <a href="http://www.gsp.gov.pk/" target="_blank">Geological Survey of Pakistan</a></li>
<li><a href="/people/profile/WAPDA/">Chief Engineer(H&WM)</a> - <a href="http://www.wapda.gov.pk/" target="_blank">WAPDA</a>, Lahore</li>
<li><a href="/people/profile/FFC/">Chief Engineer</a>- <a href="http://www.ffc.gov.pk/" target="_blank">Federal Flood Commission</a>, Islamabad</li>
<li><a href="/people/profile/CCE/">Director General</a>-  <a href="http://www.mocc.gov.pk/" target="_blank">Climate Change & Environment</a></li>
<li><a href="/people/profile/MOCC/">Director General EPA</a>- <a href="http://www.mocc.gov.pk/" target="_blank">Ministry of Climate Change</a></li>
<li><a href="/people/profile/PMD/">MOHW - Director General</a> -  <a href="http://www.housing.gov.pk/" target="_blank">Ministry of Housing & Works, Islamabad</a></li>
<li><a href="/people/profile/GHQ/">Engineer Directorate Representative</a>(Engineering Department </a> -<a href="http://www.pakistanarmy.gov.pk/" target="_blank"> GHQ</a> Rawalpindi </li>
<li><a href="/people/profile/MOFSR/">Food Commission </a> - <a href="http://www.mnfsr.gov.pk/" target="_blank">Ministry of National Food Security & Research (MNFSR)</a></li>
<li><a href="/people/profile/MOD/">Joint Secretary </a> of <a href=" http://www.mod.gov.pk/" target="_blank">Ministry of Defense</a>,Islamabad</li>
<li><a href="/people/profile/PDD/">Member Infrastructure </a>,<a href="http://www.pc.gov.pk/" target="_blank">Planning & Development Division,</a> Islamabad</li>
<li><a href="/people/profile/PEC/">PEC</a> -<a href="http://www.pec.org.pk/" target="_blank"> Pakistan Engineering Council</a></li>
<li><a href="/people/profile/NUST/">Head of Institute of GIS </a>-  <a href="http://www.nust.edu.pk"> NUST</a>, Islamabad</li>
<li><a href="/people/profile/NCEG/">Head</a> of <a href="http://nceg.upesh.edu.pk/" target="_blank">National Centre of Excellence in Geology</a>, University of Peshawar</li>
<li><a href="/people/profile/NESPAK/">Vice President </a>,Geo Technical & Geo Environmental Engineering Division <a href="http://www.nespak.com.pk/" target="_blank">NESPAK</a>, Lahore</li>
<li><a href="/people/profile/JICA/">Deputy Resident Representative</a>- <a href="http://www.jica.go.jp/pakistan/english/" target="_blank">JICA</a>, Islamabad</li>
</ol>

  
{% endblocktrans %}
{% endblock %}


